//共用樣式
$pad: 768px;
$pc: 1280px;
.video-views {
    text-align: center;
    .video-list {
        display: inline-block;
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        cursor: pointer;
        @media (min-width: $pc) {
            flex-basis: 23%;
            max-width: 23%;
            margin-right: 10px;
            margin-left: 10px;
        }

        // .add {
        //     background-color: black;
        //     color: white;
        //     opacity: 0;

        //     &:hover {
        //         opacity: 1;
        //     }

        //     @media (min-width: $pad) {
        //     }

        //     @media (min-width: $pc) {
        //         top: 200px;
        //         left: 340px;
        //     }
        // }

        img {
            max-width: 100%;
        }
        p {
            display: flex;
            text-align: left;
            max-width: 100%;
            margin-top: 0;
        }
    }
}
