.header-main {
    display: flex;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
    .home {
        flex-basis: 5%;
        max-width: 5%;
    }
    .favorite {
        flex-basis: 5%;
        max-width: 5%;
    }
    .Play {
        flex-basis: 5%;
        max-width: 5%;
    }
    .searchbar {
        justify-content: center;
        flex-basis: 50%;
        max-width: 50%;
        display: flex;

        .search {
            flex-basis: 40%;
            max-width: 40%;
        }
    }
}
