//共用樣式
%header-link {
    padding: 5px 5px 0 5px;
    text-align: center;
    line-height: 22px;
    @media (min-width: 1280px) {
        flex-basis: 10%;
        max-width: 10%;
    }
    a {
        color: black;
        text-decoration: none;
    }
}

%header-link-2 {
    padding: 5px 5px 0 5px;
    text-align: center;
    line-height: 22px;
    @media (min-width: 1280px) {
        flex-basis: 10%;
        max-width: 10%;
    }
    a {
        color: black;
        text-decoration: none;
    }
}

//個別樣式
.header-main {
    display: flex;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
    // justify-content: start;
    @media (min-width: 1280px) {
        justify-content: center;
    }

    .home {
        @extend %header-link;
    }
    .favorite {
        @extend %header-link-2;
    }
    .Play {
        @extend %header-link-2;
    }
    .searchbar {
        justify-content: center;
        flex-basis: 50%;
        max-width: 50%;
        display: flex;

        .search {
            margin-left: 10px;
            flex-basis: 70%;
            max-width: 70%;

            @media (min-width: 1280px) {
                flex-basis: 70%;
                max-width: 70%;
            }
        }

        .search-button {
            flex-basis: 20%;
            max-width: 20%;
            border-style: solid;
            border-width: 1px;
            border-color: #939699;
            border-radius: 2px;
            cursor: pointer;
            @media (min-width: 1280px) {
                flex-basis: 8%;
                max-width: 8%;
            }
            &:hover {
                background-color: #d3d3d3;
            }
            img {
                margin-top: 2px;
                margin-left: 3px;
                flex-basis: 78%;
                max-width: 78%;
                @media (min-width: 1280px) {
                    margin-left: 25px;
                    flex-basis: 30%;
                    max-width: 30%;
                }
            }
        }
    }
}
