.context {
    background-color: #eeeeee;
    .video {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
    }
}
